name: Release

on:
  push:
    tags:
      - '*'
jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 25.x
          registry-url: https://registry.npmjs.org
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: npm version ${{ github.ref_name }} --no-git-tag-version
      - run: npm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
