name: Release

on:
  push:
    tags:
      - '*'
jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: npm version ${{ github.ref_name }} || true
      - run: npm publish --no-git-checks
